/*
* @Author: inksmallfrog
* @Date:   2017-04-27 08:22:21
* @Last Modified by:   inksmallfrog
* @Last Modified time: 2017-04-27 09:06:07
*/
.stage{
    column-gap: 10px;
    column-count: 5;
    padding: 10px;

    @media (max-width: 720px){
        column-count: 3;
    }
    @media (max-width: 500px){
        column-count: 2;
    }
}